---
import MainLayout from "../layouts/MainLayout.astro";
import BaseBoard from "../components/BaseBoard.astro";

const title = "Dashboard | ShopC2C";
---

<MainLayout title={title}>
    <div class="pt-24 min-h-screen">
        <BaseBoard />
    </div>
</MainLayout>
