---
import MainLayout from "../layouts/MainLayout.astro";
import SystemCheckComponent from "../components/SystemCheck.astro";

const title = "System Check | ShopC2C";
---

<MainLayout title={title}>
    <div class="pt-24 min-h-screen flex items-center justify-center">
        <SystemCheckComponent />
    </div>
</MainLayout>
