---
import MainLayout from "../layouts/MainLayout.astro";
import QRGenerator from "../components/QRGenerator.astro";

const title = "QR Generator | ShopC2C";
---

<MainLayout title={title}>
    <div class="pt-24 min-h-screen">
        <QRGenerator />
    </div>
</MainLayout>
